@charset "UTF-8";
footer {

    background-color: white; 
    height: 60px; 
    width: 100%;
    border-top: 1px solid #CCCCCC;  
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    bottom: 0;
}

/** Holberton Practice Styles
 * ----- Footer
 */

footer {
	background: #FFFFFF;
	height: 60px;
	line-height: 60px;
	width: 100%;
	bottom: 0px;
	position: relative;
	text-align: center;
	border-top: 1px solid #CCCCCC;
}
